
$primary-color: #f7941e;
$secondary-color: white;
$tertiary-color: #ee2d7b;

$primary-background-color: #2d2f2f;
$secondary-background-color: grey;

$primary-font: Lato, sans-serif;
$secondary-font: Lora, sans-serif;

body {
    background-color: $secondary-background-color;
    font-size: 14px;

    .content {
        @extend ._primary-background;
        color: $secondary-color;
        padding: 20px;
        z-index: 1050;
        h1 {
            color: $primary-color;
            font-size: 26px;
        }

        h3 {
            font-size: 16px;
        }

        hr {
            width: 35px;
            height: 4px;
            border: 0 none;
            background-color: $secondary-color;
        }

        a {
            color: $tertiary-color;
        }
    }
}

.modal-backdrop {
    opacity: 0.5
}

.text-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.close-btn {
    @extend ._primary-background;
    position: absolute;
    right: -76px;
    top: -20px;
    z-index: 100;
    a, a:hover {
        border: 0;
        img {
            padding: 5px;
        }
    }
}

ul.nav {
    margin-top: 30%;
    list-style: none;
    margin-left: -16px;
    padding-left: 0;
    width: 80%;
    max-width: 350px;

    li {
        padding: 0.5em;

        &.selected {
            @extend ._primary-background;
            padding-top: 1em;
            padding-bottom: 1em;
        }

        .btn.btn-primary {
            font-size: 1.5em;
            background-color: $primary-color;
            border-color: $primary-color;
        }

        .btn {
            width: 90%;
            border: 2px solid white;
            background-color: rgba(255, 255, 255, 0.70);
        }
    }
}

._primary-background {
    background: $primary-background-color url('/images/bg.jpg') repeat;
}

html,body,.fill{
    height:100%;
    min-height:100%;
}

.row {
    margin: 0;
}

.background-image {
    width: 110%;
    height: 100%;
    position: absolute;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.background-image.right {
    background-size: cover;
    background-position: top right;
    right: 0;
}

.background-image.left {
    background-size: cover;
    background-position: top left;
    left: 0;
}

#background-img-left-placeholder {
    background-image: url('/images/celia-low.jpg');
}

#background-img-right-placeholder {
    background-image: url('/images/hamper-low.jpg');
}

.fadein {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  opacity: 1; /* Default value but added for clarity */
}

/* Initial state when showing */
.fadein.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

/* Will transition towards this state */
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

form {
    background: white;
    padding: 1em;
}