
$primary-color: #ee2d7b;
$secondary-color: white;

$primary-background-color: #2d2f2f;
$secondary-background-color: white;

body {
    background-color: $secondary-background-color;
    font-size: 16px;

    .content {
        background: $primary-background-color url(/images/bg.jpg) repeat;
        color: $secondary-color;
        border-color: black;
        border-width: 0 1px;
        border-style: solid;
        h1 {
            color: $primary-color;
            font-size: 19px;
        }
        
        h3 {
            font-size: 16px;
        }

        hr {
            width: 35px;
            height: 2px;
            border: 0 none;
            background-color: $secondary-color;
        }
    }
}