doctype html
html(lang="en")
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body.container-flui
    block content