div.row
    div.col-xs-12.text-center
        div.close-btn 
            a(href='/#/')
                img(src='/images/close.svg', alt='Close')
        header
            h2 What's included in the hamper?
            hr  
div.row
    div.col-xs-12
        div(class='text-left')
            ul
                li A cracking tea towel designed by Richard Bramble
                li A cracking tea towel designed by Richard Bramble
                li A cracking tea towel designed by Richard Bramble
                li A cracking tea towel designed by Richard Bramble
                li A cracking tea towel designed by Richard Bramble
                li A cracking tea towel designed by Richard Bramble
                li A cracking tea towel designed by Richard Bramble